<table class="table table-striped">
    <thead>
        <tr>
            <th>{:__('Title')}</th>
            <th>{:__('Content')}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{:__('Note Admin')}:</td>
            <td>{$row.nickname}</td>
        </tr>
        <tr>
            <td>{:__('Note content')}:</td>
            <td>{$row.content}</td>
        </tr>
        <tr>
            <td>{:__('Note tags')}:</td>
            <td>{$row.tags}</td>
        </tr>
        <tr>
            <td>{:__('Create time')}:</td>
            <td>{:date('Y-m-d H:i:s', $row['add_time'])}</td>
        </tr>
        <tr>
            <td>{:__('Update time')}:</td>
            <td>{:date('Y-m-d H:i:s', $row['edit_time'])}</td>
        </tr>
        <tr>
            <td>{:__('Note top')}:</td>
            <td>
                {if $row['is_top'] == 1}
                    <span class="text-success">
                        <i class="fa fa-circle"></i> 已置顶
                    </span>
                {else /}
                    <span class="text-primary">
                        <i class="fa fa-circle"></i> 置顶已取消
                    </span>
                {/if}
            </td>
        </tr>
        <tr>
            <td>{:__('Status')}:</td>
            <td>
                {if $row['status'] == 1}
                    <span class="text-success">
                        <i class="fa fa-circle"></i> 正常
                    </span>
                {else /}
                    <span class="text-primary">
                        <i class="fa fa-circle"></i> 隐藏
                    </span>
                {/if}
            </td>
        </tr>
    </tbody>
</table>
<div class="hide layer-footer">
    <div class="col-xs-12 text-center">
        <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>